.Rproj.user
.Rhistory
.RData
.Ruserdata
./UMLS/2019AB/2019ab-1-meta.nlm
./UMLS/OUTPUT/indexes/PTR_AUI_RELA_MRHIER.x
./UMLS/OUTPUT/MRHIER.RRF
./UMLS/OUTPUT/MRREL.RRF
./UMLS/OUTPUT/MRSAT.RRF
./UMLS/OUTPUT/MRXNW_ENG.RRF
./UMLS/OUTPUT/MRXW_ENG.RRF
./UMLS/umls-2019AB-full.zip

